
body{
background-color:lightpink;
font-size:62.5%;
border-style:solid;
}
#l1{
	font-size:1rem;
	color:darkblue;
}
#l2{
	color:green;
	font-size:40px;
}
#l3{
	color:red;
	font-size:1.4rem;
}
#l4{
	color:purple;
	font-size:400%;
}

#l5{
	font-size:150px;
	color:orange;
}
#l6{
	font-size:2rem;
	color:magenta;
}