*{
	padding:0;
	margin:0;
}

h1{
	text-align:center;
	margin:10px;
}
h5{
	text-align:center;
	color:green;
	font-family:Verdana;
	margin:20px;
}

body{
	background-color:black;
	background-image:url("pic.jpg");
	background-position:top right;
	background-repeat:no-repeat;
	background-size:15%;
	background-attachment:scroll;
	color:white;
}
#p1{
	color:red;
	font-family:arial;
	font-size:14px;
	text-align:center;
	margin:20px;
	
}
#p2{
	color:blue;
	font-family:arial;
	font-size:20px;
	text-align:center;
	margin:20px;
	
}
ul.a{
	color:pink;
	text-align:center;
	margin:20px;
}
ul.b{
color:yellow;
text-align:right;
margin:20px;
}

#p3{
	margin:20px;
}
#p4{
	margin:20px;
}