.clear{
	clear:both;
}
.container{
width:1000px;
margin:0 auto 20px;/*it will set top and bottom margin values as zero and left and right margin will be set automatically*/


}

.top-row{
}
.contact-info{
	float:left;
	width:40%;
	padding-top:10px;
	
	
}
.contact-info li{
	display:inline-block;
	padding:0 20px 0 0;
}
.contact-info li a{
	font-size:12px;
	color:#000;
	text-decoration:none;
}
.contact-info .border-right{
	border-right:solid 1px #000;
}
.social-links{
	float:right;
	padding-top:10px;
	
}
.social-links .border-right{
	border-right:solid 1px #000;
	padding-left:10px;
}
.social-links .last-element{
	padding-left:10px;
}
.social-links li {
	display:inline-block;
	padding:0 20px 0 0;
}
.social-links li a {
	font-size:12px;
	color:#000;
	text-decoration:none;
	
}
.header .logo{
	float:left;
}
.header .logo h1 a{
	font-size: 42px;
    margin: 0;
    padding: 0;
	text-decoration:none;
}
.header .navigation{
	float:right;
}
.header li{
	display:inline-block;
	padding:10px 8px;
	font-family: "Raleway", sans-serif;
    font-weight: 700;
	color:#555;
    font-size: 14px;
}
.header li a{
	display:inline-block;
	padding:10px 8px;
	font-family: "Raleway", sans-serif;
    font-weight: 700;
	color:#555;
    font-size: 14px;
	text-decoration:none;
}
.portfolio{
	margin:20px 0;
}
.section-title{
	font-size:32px;
	color:;
	text-transform:uppercase;
	font-weight:700;
	margin:0  0 20px;
}
.section-title span{
	display:block;
	width:49px;
	height:3px;
	background:;
	margin:10px 0;
}
.banner .banner-img{
	margin:20px;
}

.banner .banner-img .banner-combo{
	width: 100%;
    
    box-sizing: border-box;
    position: relative;

}
.banner .banner-img img{
	background-size:cover;
	width:100%;
	height:auto;
}
.banner .banner-img h3 {
	position: absolute;
    top: 38%;
    left: 0;
    text-align: center;
    width: 100%;
	color: #0c2e8a;
    margin-bottom: 30px;
    font-size: 64px;
    font-weight: 700;
	z-index:2;
}
.banner .banner-img button{
	position: absolute;
    top: 80%;
    left: 50%;
}
.lorem .lorem-img{
float:left;
}

.lorem .lorem-header{
	float:right;
	
}
.portfolio-gallery{
	margin:20px 0;
}
.portfolio-gallery .image-wrapper{
	width:25%;
	float:left;
	box-sizing:border-box;
	position:relative;
}
.portfolio-gallery .image-wrapper img{
	width:100%;
}
.portfolio-gallery .image-wrapper h3{
	position:absolute;
	top:38%;
	left:0;
	text-align:center;
	width:100%;
	color:#ffffff;
	font-size:24px;
	margin:0;
	text-transform:capitalize;
	font-weight:700;
	z-index:2;
}
.portfolio-gallery .image-wrapper span{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(0,0,0,0.5);
	display:none;
	z-index:1;
	
}
.portfolio-gallery .image-wrapper:hover span{
	display:block;
}

.portfolio-gallery .image-wrapper a{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:3;
	text-decoration:none;
	
}